html {
  font-size: 62.5%;
}

body {
    background-color: #fff;
}
#page-wrapper{
	max-width:100%;
	font-family: "futura-pt-1","futura-pt-2",helvetica,arial,sans-serif;
}
#masthead {
	padding: 0 35px 0 35px;
}
.full-containter {
	position: relative;
	height: 150px;
	max-width: 100%;
}

/* Navigation menu*/
.nav_bar {
	padding: 10px;
	max-height: 60px;
	margin-top: 10px;
	margin-bottom:40px;
	float: left;
	box-sizing: border-box;

}

.menu-button {
	float: left;
	position: relative;
	top: 50%;
	transform: translate (0,50%);
}

.dropdown {
	position: relative;
	display: inline-block;
	text-align: center;
}

/* Dropdown Button */
.dropbtn {
    background-color: white;
	margin-left: 50px;
	margin-right: 50px;
    border: none;
	box-sizing: border-box;

}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
	position: absolute;
    background-color: #2980B;
    min-width: 160px;
	margin-left: 50%;
	margin-right: auto;
	transform: translate(-50%, 0)
}

/* Links inside the dropdown */
.dropdown-content a {
    color: inherit;
	padding: 10px 30px;
    text-decoration: none;
    display: block;
    text-align: center;
	font-size: 120%;
	z-index: 1;
	box-sizing: border-box;

}

/* Change color of dropdown links on hover */
.dropdown-content a:hover .dropdown-content a:focus {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Button in drop-down menu*/
.in-menu{
	font-size: 120%;
	border: none;
	background-color: white;
	text-align: center;
	padding: 10px 30px;
	box-sizing: border-box;
}

.dropdown-submenu {
	position: relative;
	display: inline-block;
	text-align: center;
	background-color: white;
}

/* Drop down submenu*/
.dropdown-submenu-content {
    display: none;
	position: absolute;
    background-color: #2980B;
    min-width: 300px;
	margin-left: 50%;
	margin-right: auto;
	padding: 0 30px 10px 30px;
	box-sizing: border-box;
	background-color: white;
}

.dropdown-submenu-content a {
    color: inherit;
    text-decoration: none;
    display: block;
    text-align: left;
	font-size: 120%;
	z-index: 2;
	background-color: white;
}

.dropdown-submenu:hover .dropdown-submenu-content {
    display: block;
}

#Search{
		display:none;
}

#title{
	display: block; 
	float: left; 
	max-width: 750px; 
	font-size: 250%; 
	padding: 10px 0; 
	margin-right: 15px; 
	box-sizing: border-box;	
}

/*Search */

.search-icon{

}
.search-form {
	display:block;
	background-color: #f9f9f9;
	max-width: 100%;
	clear: both;
}
.field {
	width: 100%;
	background-color: #f9f9f9;
	border: 0;
	font-size:15px;
	line-height: 2em;
}

/*Page */
#site-main {
	padding: 20px 35px 0 35px;
	box-sizing: border-box;
	display: block;
	display: block;
	position: relative;
}
#primary {
	float: left;
    width: 75%;
	margin-left: 10px;
	margin-bottom: 25px;
	display: inline-block;
	clear: both;
	max-height: 70%;
}

.content-area {
	position: relative;
	float: left;
	display: block;
	margin-top: 20px;
}
	
.hr_main{
	height: 20px;
	border-top: 1px solid red;
	clear: none; 
	position: absolute; 
	right: 0;
	width: 100%;


}

.hr_main a {
	background-color: white;	
	padding: 2px 15px 0 15px;
	margin-left: 5%;
	margin-right: 5%;
	font-size: 1.5em;
	color: black;
	box-sizing: border-box;
	z-index:3;
	font-family: "futura-pt-1","futura-pt-2",helvetica,arial,sans-serif;
	text-transform: uppercase;
}

#top{
	margin-top: 40px;
}

.content{
	display: block;
	background:  #f2f2f2;
	float: left;
	margin-top: 20px;
	padding: 10px;
	box-sizing: border-box;
	width:100%;
	font-size: 12px;
}

/*lists*/
.content p{
	text-align: justify;
	font-family: Arial,Helvetica,Lucida Sans Unicode,Microsoft Sans Serif,Segoe UI Symbol,STIXGeneral,Cambria Math,Arial Unicode MS,sans-serif;
	line-height: 22px;
}

.list{
	color: ;
}

.title-type-el{
	font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
	color: #444;
}

.conf-name {
	border-bottom: 1px solid;
}

.title-el{
	font-weight: bold;
	font-size: 1.2em;
}
	
.date el{
	font-size: 1.2em;
	
}

.place-el{

}


/*link in lists formating*/
/* unvisited link */
.content a:link {
    color: #5A5859;
}

/* visited link */
.content a:visited {
    color: #E1DFDF;
}

/* mouse over link */
.content a:hover {
    color: #262526;
}

/* selected link */
.content a:active {
    color: #5A5859;
}

/*special characters*/
.special_car{
	color: #C5C3C3;
}

/*team*/

.pers_bloc	{
	position: relative;
	width: 50%;
	height: 150px;
	float: left;
	margin-top: 25px;
	margin-left: 0px;
	margin-bottom: 5px;

}

.leftcontainer {
	float: left;
	width: 25%;
}

.picture	{
	width: 110px;
	float: left;
	margin-top: 5px;
	margin-left: 5px;
}

.txt_bloc	{
	width: 70%;
	float: left;
	margin-left: 20px;
	padding-top: 0px;
	padding-left: 10px;
	text-align: left;
	box-sizing: border-box;
	position: relative;
	height: 100%;
}

.name{
	margin-bottom: 5px;
}

.function{
	margin-top:5px;
	margin-bottom: 15px;
}

.project-role{
	font-size: 12px;
	position: absolute;
	bottom:0;
	width: 100%;
	margin-bottom: 10px;
}

/*side bar*/

#secondary {
	display: block;
	float: right;
    width: 20%;
	margin-left: 2%;	
	margin-top: 5%;
	padding-top: 10px;
	box-sizing: border-box;
	position: relative;
	right: 0;
}
.widget-area{
	margin-left: 10px;
	margin-right: 10px;
}
.widget_text{
	margin-bottom: 40px;
	font-size: 13px;
	line-height: 2em;
	text-align: center;
	box-sizing: border-box;
}
.text-tags{
	margin-top: 15px;
	line-height: 2em;
	font-size: 13px;
	color: black;
	box-sizing: border-box;
}
	
.tag-link{
	font-size: 10px;
}
.menu{
	display: inline-block;
	width: 100%;
	max-height: 80px;
	margin: 0 5% 20px 5%;
	padding: 10px;
	box-sizing: border-box;
}
.menu-button-text{
	text-align: center;
	width: 50%;
	float: left;
	color: black;
	padding: 0 10% 0 10%;
	box-sizing: border-box;
}

/* Footer*/
.site-footer{
	max-width:100%;
	height: 28%;
	/*background-color: #231f20;*/
	clear: both;
}

.hr_footer{
	height: 6px;
	background: url(http://ibrahimjabbari.com/english/images/hr-11.png) repeat-x 0 0;
    border: 0;
}
.footer-custom{
	display: inline-block;
	height: 300px;
	float: left;
	margin-top: 15px;
	text-align: center;
	font-size: 15px;
	box-sizing: border-box;

	/*color: white;*/
}
.el{
	width: 20%;
	text-align: left;
	margin-left: 30px;
}
.logo{
	width: 40%;
	height: 100%
	float: right;
	margin-top: 0px;
}
/* Footer*/
/* Consistent fonts across all elements */
body,
button,
input,
select,
textarea {
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  line-height: ;
  font-size: ;
}


